@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Variabili tema */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind v4 inline theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body */
body {
  background: var(--color-background);
  color: var(--color-foreground);
}
