@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORI CORPORATE SCARAMUZZO */
:root {
  --bg: #341A09;
  --card: #24140E;
  --text: #F5E7D6;
  --accent: #F3D8B6;
}

/* STILE BASE */
body {
  @apply bg-[var(--bg)] text-[var(--text)] antialiased font-sans;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 9999px;
}
